* {
  margin: 0;
  padding: 0;
}
html {
  color: antiquewhite;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.title {
  font-family: "dancing script";
  text-align: center;
  font-weight: bolder;
  padding-top: 1.5em;
  padding-bottom: 1em;
  font-size: 4em;
  letter-spacing: 0.3em;
}

.subtitle {
  font-size: 3em;
  font-family: "dancing script";
  text-align: center;
  font-weight: normal;
  word-spacing: 0.3em;
}
.keys {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.key {
  margin-right: 30px;
  margin-top: 6em;
  padding: 2em;
  background: transparent rgba(0, 0, 0, 1);
  position: relative;
  cursor: pointer;
  transition: all 0.07s ease;
  text-shadow: 0 0 0.5rem black;
  border: 1px solid white;
}

kbd {
  font-size: 2em;
  top: 10%;
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.sound {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: orange;
  margin-top: 1em;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
