* {
  margin: 0;
  padding: 0;
}
html {
  color: antiquewhite;
}
body {
  background-image: url(Background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
header {
  font-family: "dancing script";
  text-align: center;
  font-weight: bolder;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 3em;
  letter-spacing: 0.3em;
}

p{
    font-size: 0.9;
}
.keys {
  display: flex;
  justify-content: center;
  align-items: center;
}
.key {
  margin-right: 30px;
  margin-top: 6em;
  padding: 2em;
  border: 1px solid white;
  background: transparent rgba(0, 0, 0, 1);
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.key:hover {
  border: 3px solid orange;
}
kbd {
  font-size: 2em;
  top: 10%;
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.sound {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: orange;
  margin-top: 1em;
}
